.projects {
    margin: 6rem 0 20rem 0;
   
    &__banner {
        text-transform: uppercase;
        text-align: center;
    }

    &__container {
        margin-top: 8rem;
        display: flex;
        align-items: center;
        @include respond(tab-port) {
            flex-direction: column;
        }
        
        &--desc {
            width: 40%;
            margin: 0 5%;
            padding: 0;
            @include respond(tab-port) {
                width: 90%;
            }
            h4 {
                
                text-align: center;
                text-transform: uppercase;
            }

            p {
                font-size: 1.2rem;
                line-height: 1.4rem;
                letter-spacing: 1px;
                text-align: justify;
                margin: 0;
                @include respond(phone) {
                    font-size: 1.2em;
                }
            }
            div {
                display: flex;
                justify-content: center;
                margin-top: 2rem;
                a {
                    width: 10%;
                    display: flex;
                    justify-content: center;
                    @include respond(tab-port) {
                        width: 5%;
                        margin: 0 3em 3em 3em;
                    }
                    @include respond(tab-port) {
                        width: 7%;
                    }
                }
            }
        }

        & img {
            width: 40%;
            margin: 0% 5%;
            border: none;
            @include respond(tab-port) {
                width: 90%;
            }
        }
    }
}

#co-make {
    @include respond(tab-port) {
        flex-direction: column-reverse;
    }
}